<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" version="0.1.0" viewmodes="fullscreen" id="http://local.mym3u/MyM3u">
  <tizen:application id="M3uTvApp01.MyM3u" package="M3uTvApp01" required_version="3.0" />
  <content src="dist/index.html" />
  <name>My M3U</name>
  <access origin="*" subdomains="true" />
  <tizen:privilege name="http://tizen.org/privilege/internet" />
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice" />
  <tizen:profile name="tv" />
  <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable" />
</widget>
